@import "../css/commons.module.scss";

.body {
    width: 100%;
    background-color: $grayLightColor;
    .container {
        width: $container;
        margin: 0 auto;
        padding: 30px 0;
        .sectionProduto {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .sideLeft {
                width: 50%;
                padding: 10px;
            }
            .sideRight {
                width: 50%;
                padding: 10px;
                .resumoPedido {
                    width: 456px;
                    height: 370px;
                    background: #fff;
                    border-radius: 10px;
                    position: fixed;
                    padding: 13px;
                    margin: 15px 10px;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}
